* {
    box-sizing: border-box;
}

$pcolor: rgba(41, 150, 68, 0.8);
$scolor: rgba(150, 68, 41, 0.8);
$tcolor: rgba(68, 41, 150, 0.8);
$lcolor: rgba(96, 235, 240, 0.8);

section {
    padding: 100px 0;
    width: 100%;
    text-align: center;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;  
}


.hor {
    li {
        display: inline;
        padding: 10px;
        a {
            display: inline-block;
        }
        
    }
}

.ver {
    
    ul {
        display: block;
        margin: 0 auto;
        text-decoration: none;
        list-style: none;
        li {
            text-align: center;
            a {
                
                display: block;
                
            }
        }
    }
}


.first {
    background: $lcolor;
    text-align: left;
    li {
        a {
            color: #2b2b2b;
            width: 290px;
            height: 3.35rem;
            padding: 10px 20px 20px;
            border-width: 1px 4px;
            border-style: dashed;
            border-color: $pcolor;
            &:hover {
                height: 250px;
            }
            &:after {
                content: '';
                width: 100%;
                height: 172px;
                margin: 15px 0 20px;
                border-radius: 3px;
                display: block;
            }
        }
        &:first-of-type a {
            border-width: 4px 4px 1px;
        }
        &:last-of-type a {
            border-width: 1px 4px 4px;
        }
        &:nth-of-type(1) a:after {
            background: url(/web115/images/cat-1151519_1920.jpg);
            background-size: 100%;
            background-repeat: no-repeat;
        }
        &:nth-of-type(2) a:after {
            background: url(/web115/images/cat-3535404_1920.jpg);
            background-size: 100%;
            background-repeat: no-repeat;
        }
        &:nth-of-type(3) a:after {
            background: url(/web115/images/cat-4189697_1920.jpg);
            background-size: 100%;
            background-repeat: no-repeat;
        }
        &:nth-of-type(4) a:after {
            background: url(/web115/images/pet-882446_1920.jpg);
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }
}
.second {
    background: $pcolor;
    li {
        a {
            color: $lcolor;
            background: $scolor;
            padding: 10px 18px;
            margin: 15px 10px;
            border-radius: 20px;
            box-shadow: 1.5px 8.5px 0 0 $tcolor;
            text-shadow: -1px 1px 2px $pcolor;
            &:hover {
                background: $tcolor;
                box-shadow: 0.5px 7px 0 0 $scolor;
            }
        }
    }
}

.third {
    background: $scolor;
    ul {
        width: 300px;
        background: $lcolor;
        box-shadow: 0 10px 25px $lcolor;
        li {
            text-align: left;
            padding: 10px 0;
            &:hover a:before {
                box-shadow: inset 0 0 8px 2px $pcolor,
                            inset -1px -1px 2px 1px $scolor;
            }
            &:nth-of-type(1) a:before {
                background: url(/web115/images/gear.svg)
                  no-repeat
                  center center
                 $pcolor;
                
                }
            
            &:nth-of-type(2) a:before {
                background: url(/web115/images/gear.svg)
                  no-repeat
                  center center
                  $scolor;
            }
            &:nth-of-type(3) a:before {
                background: url(/web115/images/gear.svg)
                  no-repeat
                  center center
                  $tcolor; //img from freeicon.com
            }
            &:nth-of-type(4) a:before {
                background: url(/web115/images/gear.svg)
                  no-repeat
                  center center
                  $lcolor;
            }
            a {
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                padding: 10px;
                display: inline-block;
                color: $pcolor;
                &:before {
                    content: '';
                    border-radius: 50%;
                    height: 3rem;
                    width: 3rem;
                    display: inline-block;  
                    margin: -0.75rem 1rem;
                }
                &:hover {
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                }
                
                
            }
        }
    }
}

.fourth {
    ul {
        width: 300px;
        background: $lcolor;
        border: 5px solid $tcolor;
        box-shadow: 0 0 25px 3px $scolor;
        list-style: none;
        li {
            a {
                color: $pcolor;
                padding: 20px;
                &:hover {
                    color: #000;
                    text-shadow: 1px 1px $tcolor;
                }
            }
        }
    }
}

.fifth {
    background: linear-gradient($tcolor, $lcolor, $pcolor, $scolor);
    a {
        color: $pcolor;
        padding: 5px 10px 3px;
        border: 1px solid transparent;
        border-radius: 50px;
        &:hover {
            border: 1px solid $scolor;
            background: $lcolor;
            box-shadow: inset 3px 3px 6px;
        }
    }
}